<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicosetiawan.runfit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    // PERMESSION FOR GALLERY
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxFvKcbK8jPBBg9bkiPFQEtYN3vT776GA"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.HomeActivity"
            android:label="Runfit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".History.HistoryActivity" />
        <activity android:name=".History.HistoryDetailActivity" />

        <activity android:name=".News.NewsActivity" />
        <activity android:name=".Profiler.ProfilerActivity" />
        <activity android:name=".Profiler.Settings"/>
        <activity android:name=".Login.FrontActivity"/>

        <activity android:name=".Login.LoginActivity"/>

        <activity android:name=".Login.RegistrationActivity"/>

        <activity android:name=".Weather.WeatherActivity"/>
        <activity android:name=".Profiler.PhotoActivity"/>
        <activity android:name=".Profiler.NextActivity"/>
        <activity android:name=".News.NewsDetailActivity"/>
        <activity android:name=".Login.ForgotPasswordActivity"/>

        <service
            android:name=".Service.LocationService"
            android:enabled="true"
            android:exported="false"></service>
    </application>
    <!--
    Email : nicoesetiawan@gmail.com
    Password : 0123456nicoe
    -->
</manifest>